<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- 导入单个配置文件 -->
    <import resource="config/test-servlet.xml"/>
    <import resource="config/test2-servlet.xml"/>
    <import resource="config/test3-servlet.xml"/>
    <import resource="config/test4-servlet.xml"/>

    <!-- 注解版本 -->
    <import resource="config/test5-servlet.xml"/>
    <import resource="config/test6-servlet.xml"/>

    <!-- 注解版本：json转化 -->
    <import resource="config/test7-servlet.xml"/>
</beans>